body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(../recursos/fondoNueve.avif);
  background-size: cover;
  margin-top: 4em;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-align: center;
}

#div-resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3,
h4 {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

#tituloGame {
  text-align: center;
  margin-bottom: 0.5 em;
}

#resultadoFinal {
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26em;
}
#resultadoFinal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 11px;
}

#container.container {
  display: flex;
  padding: 11px;
  align-items: center;
  justify-content: center;
}

.containerBolas {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-right: 0em !important;
  align-items: center;
  padding: 1em;
}
