body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../recursos/fondoNueve.avif);
  background-size: cover;
}

#bolaUno,
#bolaDos,
#bolaTres,
#bolaCuatro {
  background-color: whitesmoke;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: solid 0.1em;
  border-color: black;
  margin: 0.5em;
}

#marcadorUno,
#marcadorDos,
#marcadorTres,
#marcadorCuatro {
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border: solid 0.1em;
  border-color: black;
  margin: 0.3em;
}
