body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../recursos/fondoNueve.avif);
  background-size: cover;
}

#container2 {
  padding-top: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 32em;
  height: 28em;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
  margin-top: 1px;
}
.containerLogo {
  margin-top: -10px;
  padding: 0%;
  margin-bottom: 0;
}
#containerPick {
  margin: 0;
  padding: 0;
  margin-left: 3em;
}
.input-color {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
#pcolor {
  margin-bottom: -10px;
  padding-top: 0%;
}
img#LogoParametros {
  width: 10em;
  height: 10em;
  margin-top: 0.5em;
  padding-bottom: 0;
  margin: 0%;
  padding: 0%;
}

.row {
  margin-left: 2em;
  margin-right: 2em;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.btn-primary {
  margin-top: 3em;
}

#botonInstrucciones {
  margin-top: 0.5em;
}
#botonJugar {
  margin-top: 0.5em;
}
#elementosParametros {
  margin-top: 0px;
  padding: 2px;
  align-self: flex-start;
}

.row > * {
  /* flex-shrink: 0; */
  width: 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: var(--bs-gutter-y);
}

#elementosParametros {
  margin-top: 2px;
  padding: 10px;
  align-items: center;
}

#elementosParametros .row > * {
  margin-bottom: 5px;
}
